<div class="mt-4">
    <form>
        <div class="form-group">
            <label form"search-input">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhâp từ khóa...">
        </div>

        <button type=" submit" Ilass="btn btn-primary">Tìm kiếm</button>
    </form>
</div>